body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
.main {
    position: relative;
    font-family: Zen Kaku Gothic New, sans-serif;
}
/* font-size & line-height & margin */
.fz-s {
    font-size: 0.875rem;
}
.fz-sm {
    font-size: 1rem;
}
.fz-m {
    font-size: 1.125rem;
}
.lh-sm {
    line-height: 2;
}
.mt-sm {
    margin-top: 5%;
}
.mt-m {
    margin-top: 7%;
}
.mt-ml {
    margin-top: 10%;
}
.mt-l {
    margin-top: 12%;
}
.mt-xl {
    margin-top: 14%;
}
.mb-sm {
    margin-bottom: 5%;
}
.mb-m {
    margin-bottom: 7%;
}
.mb-ml {
    margin-bottom: 10%;
}
.mb-l {
    margin-bottom: 12%;
}
.mb-xl {
    margin-bottom: 14%;
}
.my-sm {
    margin-top: 5%;
    margin-bottom: 5%;
}
.my-m {
    margin-top: 7%;
    margin-bottom: 7%;
}
.my-ml {
    margin-top: 10%;
    margin-bottom: 10%;
}
.my-l {
    margin-top: 12%;
    margin-bottom: 12%;
}
.my-xl {
    margin-top: 14%;
    margin-bottom: 14%;
}
/* button */
.blue-btn {
    background: #0080DE;
    padding: 3% 10%;
    text-align: center;
    font-size: 1.125rem;
    border-radius: 10px;
    letter-spacing: 0.2em;
    border: 2px solid transparent;
    transition: all 0.5s;
    margin: 5% 0;
}
.blue-btn:hover {
    background: #fff;
    border: 2px solid #0080DE;
    color: #0080DE;
}
.under-line-btn {
    color: #fff;
    border-bottom: 1px solid transparent;
    margin: 2% 0;
    transition: all 0.5s;
    font-size: 1.125rem;
    letter-spacing: 0.2em;
    margin: 5% 0;
}
.under-line-btn:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

/* initial-anm */
.initial-anm {
    background: #EE7800;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.initial-anm.active {
    opacity: 0;
    pointer-events: none;
    transition-duration: .5s;
    transition-delay: 1s;
    transition-property: all;
}
.mapIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapIcon img {
    width: 25%;
}
.initial-anm-title {
    text-align: center;
    color: #fff;
    letter-spacing: 0.5em;
    margin: 0;
    font-size: 3rem;
}
.initial-anm-subtitle {
    text-align: center;
    color: #fff;
    letter-spacing: 0.5em;
    margin: 2% 0 0;
    font-size: 1rem;
}
.swing {
    animation: swing 3s infinite;
}
@keyframes swing {
    20% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    40% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    60% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    80% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
/* google map */
.gmnoprint {
    display: none;
}

/* search-bar */
.search-bar-position {
    position: absolute;
    top: 2%;
    left: 3%;
    z-index: 10000;
    color: black;
    background: #fff;
    display: flex;
    width: 40%;
    border-radius: 10px;
}
.search-bar-left {
    background: #EE7800;
    width: 10%;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    cursor: pointer;
}
.MuiSvgIcon-root {
    color: #fff;
}
.search-bar-right {
    background: #EE7800;
    width: 10%;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    cursor: pointer;
}
.search-bar-center {
    width: 80%;
}
.search-bar-center input {
    width: 100%;
    height: 100%;
    border: none;
}
@media (max-width: 767px) {
    .search-bar-position {
        width: 80%;
    }
    .search-bar-left {
        width: 15%;
    }
    .search-bar-right {
        width: 15%;
    }
    .search-bar-center {
        width: 70%;
    }
}
/* menu-bar */
.menu-bar {
    background: #EE7800;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10002;
    width: 25%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: left .5s ease, opacity .5s ease;
}
.menu-bar.active {
    left: 0;
    opacity: 1;
    pointer-events: auto;
}
.grey-filter {
    background: #D9D9D9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}
.grey-filter.active {
    opacity: .75;
    pointer-events: auto;
    cursor: pointer;
}
.close-btn {
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 5%;
}
.menu-bar-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5%;
    color: #fff;
}
@media (max-width: 767px) {
    .menu-bar {
        width: 100%;
        height: 100vh;
    }
}
.logoIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoIcon img {
    width: 100%;
}

/* top-under-menu */
.top-under-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    padding: 1% 0;
}
.top-under-menu.active {
    opacity: 1;
    pointer-events: auto;
}
.register-photo {
    padding: 1%;
    cursor: pointer;
    background: #EE7800;
    border-radius: 10px;
    color: #fff;
}
.register-photo .MuiSvgIcon-root {
    display: block;
    margin: 0 auto;
}

/* img-uploader-modal */
.img-uploader-modal {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 40vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
    opacity: 0;
    pointer-events: none;
}
.img-uploader-modal-inner {
    width: 80%;
}
.img-uploader-modal.active {
    opacity: 1;
    pointer-events: auto;
}
.go-posting {
    background: #EE7800;
    width: 10%;
    padding: 0.5%;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.stop-posting {
    width: 10%;
    margin: 1% auto 0;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #333;
}
.img-uploader-input-area {
    display: flex;
}
.img-uploader-title {
    font-size: 2rem;
    text-align: center;
    margin: 1% 0;
}
.upload-status {
    text-align: center;
}

/* login-page */
.login-page-bg {
    background: #EE7800;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.login-page p {
    text-align: center;
}
.input-wrapper {
    display: flex;
    align-items: center;
}
.login-btn-wrapper,
.top-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btn {
    background: #0080DE;
    color: #fff;
    padding: 2% 3%;
}

/* post-modal */
.post-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10002;
    opacity: 0;
    pointer-events: none;
}
.post-modal.active {
    opacity: 1;
    pointer-events: auto;
}

.post-modal-close {
    color: #333;
}